* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

}

@media (min-width: 769px) {
  .page-header {
    padding: 10px 30px;
  }
}

.logo {
  width: 55px;
  height: 60px;
}

@media (min-width: 769px) {
  .logo {
    width: 70px;
    height: 70px;
  }
}

.menu {
  width: 30px;
  height: 25px;
}

@media (min-width: 769px) {
  .menu {
    display: none;
  }
}

.nav-bar {
  display: none;
}

@media (min-width: 769px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-redirect {
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  margin-right: 35px;
}


.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 30px 0px 30px;
}

@media (min-width: 769px) {
  .first-section {
    flex-direction: row;
    justify-content: space-between;
    padding: 120px 40px 0 40px;
  }
}

.title {
  font-family: 'Open Sans';
  font-size: 48px;
  text-align: center;

}

@media (min-width: 769px) {
  .title {
    align-self: flex-start;
    text-align: left;
    margin-bottom: unset;
    max-width: 290px;
  }
}

.avatar {
  width: 350px;
  height: 370px;
}

@media (min-width: 769px) {
  .avatar {
    width: 400px;
    height: 420px;
  }
}

.section-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;
  padding: 55px 35px 70px 35px;

}

@media (min-width: 769px) {
  .section-about-me {
    flex-direction: row-reverse;
    justify-content: center;

    padding: 150px 50px;
  }
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 335px;
  margin-bottom: 55px;
  color: #fafafa;
}

@media (min-width: 769px) {
  .about-me {
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    margin-bottom: 0;
    margin-left: 90px;
  }
}

.subtitle-about {
  font-family: "Open Sans";
  font-size: 32px;
  margin: 0;
}

.paragraph-about {
  font-family: "Roboto";
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 0;
}

@media (min-width:769px) {
  .paragraph-about {
    font-size: 24px;
  }
}

.check-icon {
  width: 80px;
  height: 80px;
}

@media (min-width: 769px) {
  .check-icon {
    width: 200px;
    height: 200px;
  }
}

.section-services {
  padding: 70px 0;
  background-color: #fafafa;
  margin-top: 80px;
}

@media (min-width: 769px) {
  .section-mis-services {
    padding: 100px 80px;
  }
}

.subtitle-section-services {
  padding: 0 25px;
  height: 100px;
  font-family: 'Open Sans';
  font-size: 36px;
  text-align: center;
  margin: 10 0 10px 0;
  margin-bottom: 10px;
}

@media (min-width: 769px) {
  .subtitle-section-services {
    font-size: 50px;
    margin-bottom: 50px;
  }
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 40px;
}

@media (min-width: 769px) {
  .services-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }
}

.my-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 315px;
  margin-bottom: 75px;
  font-family: 'Roboto';
  text-align: center;
}

@media (min-width: 769px) {
  .my-services {
    max-width: 400px;
    margin-bottom: 40px;
    text-align: left;
    padding: 0 20px;
  }
}

.subtitle-services {
  font-size: 24px;
}

@media (min-width: 769px) {
  .my-services {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.paragraph-services {
  font-size: 16px;
}

.section-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px, 20px;
  background-color: #141414;
}

@media (min-width: 769px) {
  .section-contact {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 50px;
    gap: 50px;
  }
}

.subtitle-section-contact {
  font-family: 'Open Sans';
  font-size: 32px;
  text-align: center;
  color: #FAFAFA;
  margin-bottom: 40px;
}

@media (min-width: 769px) {
  .subtitle-section-contact {
    font-size: 48px;
    margin-bottom: 0;
    margin-right: 50px;
    text-align: left;
    align-self: flex-start;
    margin-top: 0;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto';
  color: #FAFAFA;
}

@media (min-width: 769px) {
  .input-form {
    align-items: flex-start;
  }
}


.form-label {
  font-size: 13px;
  margin-bottom: 8px;
}

.input-name,
.input-email {
  height: 45px;
  margin-bottom: 35px;
}


.input-message {
  height: 120px;
  /* más alto para el mensaje */
  margin-bottom: 60px;
}

.send-button {
  height: 45px;
  border: none;
  margin-bottom: 50px;
  background-color: #FFD953;
  font-family: 'Roboto';
  font-size: 16px;

}

.input-name,
.input-email,
.input-message,
.send-button {
  width: 300px;
  /* o un ancho que se adapte bien */
  border-radius: 5px;
  padding: 10px;
  border: none;
  /* para que contraste con el fondo oscuro */
  font-size: 16px;
  font-family: 'Roboto';
}

@media (min-width: 769px) {

  .input-name,
  .input-email,
  .input-message,
  .send-button {
    width: 376px;
    height: 45px;
  }
}

.footer {
  background-color: #eeeeee;
  height: 493px;
  padding: 0px 25px;
  display: flex;
  align-items: center;
}

.page-footer {
  display: flex;
  flex-direction: column;
  padding: 10px 20px 20px 20px;
  background-color: #DBDBDB;
}

@media (min-width: 769px) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 75px 50px 100px 50px;
  }
}

.container-logo-copy {
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
}

@media (min-width: 769px) {
  .container-logo-copy {
    align-items: center;
    margin-bottom: 0;
  }
}

.footer-logo {
  width: 50px;
  height: 60px;
}

@media (min-width: 769px) {
  .footer-logo {
    width: 85px;
    height: 90px;
  }
}

.copyright {
  font-family: 'Roboto';
  font-size: 13px;
}

@media (max-width: 768px) {
  .container-social-media {
    flex-direction: column;
    align-items: flex-start;
    margin: 15px 0;
  }
}

a {
  font-family: 'Roboto';
  text-decoration: none;
  color: #2c2c2c;
  margin-left: 10px;
}

.instagram,
.linkedin,
.github {
  display: flex;
  align-items: center;
  margin: 16px;
  font-size: 16px;
}
@media (max-width: 768px) {
  .page-footer {
    align-items: flex-start; /* Alinea todo a la izquierda */
  }

  .container-logo-copy {
    margin-bottom: 40px; /* Espacio debajo del logo */
    align-items: flex-start; /* Logo y texto alineados a la izquierda */
  }

  .footer-logo {
    margin-bottom: 20px; /* Separación entre logo y contenido */
  }

  .container-social-media {
    margin-left: 0; /* Quitar margen lateral */
  }

  .instagram,
  .linkedin,
  .github {
    margin: 8px 0; /* Espacio vertical entre íconos */
    margin-left: 0; /* Quitar margen izquierdo para alineación */
  }
}
